@tailwind base;
@tailwind components;
@tailwind utilities;

/* English font */
@font-face {
  font-family: "Kantumruy Pro";
  src: url("/assets/font/KantumruyPro-VariableFont_wght.ttf") format("truetype");
  unicode-range: U+0000-00FF; /* Latin characters */
}

/* Khmer font */
@font-face {
  font-family: "Siemreap";
  src: url("/assets/font/Siemreap-Regular.ttf") format("truetype");
  unicode-range: U+1780-17FF, U+19E0-19FF; /* Khmer script */
}

/* Body default */
body {
  font-family: "Kantumruy Pro", sans-serif;
  font-size: 10pt;
}

:root {
  --font-kh: "Siemreap", serif;
  --font-en: "Kantumruy Pro", Arial, sans-serif;
}

body {
  font-family: var(--font-en);
  font-size: 10pt;
}

[lang="km"],
.khmer-text {
  font-family: var(--font-kh);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* slide home  */

@keyframes zoomFade {
  from {
    transform: scale(1.08);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-zoom-fade {
  animation: zoomFade 1.4s ease-out forwards;
}

.animate-fade-up {
  animation: fadeUp 1s ease-out forwards;
}

.delay-100 {
  animation-delay: 0.1s;
}

.delay-200 {
  animation-delay: 0.2s;
}

.btn_slide_course {
  @apply transition-all duration-300 hover:scale-110;
}

/* qr */
@layer utilities {
  @keyframes fade-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes zoom-in {
    0% {
      transform: scale(0.8);
      opacity: 0;
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  .animate-fade-in {
    animation: fade-in 0.3s ease-out forwards;
  }

  .animate-zoom-in {
    animation: zoom-in 0.3s ease-out forwards;
  }
}

/* gallery */
.fancybox-zoomIn {
  animation: zoomIn 0.35s ease;
}

.fancybox-zoomOut {
  animation: zoomOut 0.25s ease;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.95);
  }
}

.fancybox__container,
.fancybox__slide {
  transition-duration: 0.7s !important;
  transition-timing-function: ease-in-out !important;
}
