@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Kantumruy Pro';
  src: url('/assets/font/KantumruyPro-VariableFont_wght.ttf');
  unicode-range: U+0000-00FF; /* Latin characters */
}

@font-face {
  font-family: 'Siemreap';
  src: url('/assets/font/Siemreap-Regular.ttf') format('truetype');
  unicode-range: U+1780-17FF, U+19E0-19FF; /* Khmer script */
}

body {
  font-family: 'Kantumruy Pro', 'Siemreap', Arial, sans-serif;
  font-size: 10pt;
}

:root {
  --font-kh: 'Siemreap', serif;
  --font-en: 'Kantumruy Pro', Arial, sans-serif;
}

body {
  font-family: var(--font-en);
  font-size: 10pt;
}

[lang="km"],
.khmer-text {
  font-family: var(--font-kh);
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



/* slide home  */

@keyframes zoomFade {
  from {
    transform: scale(1.08);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-zoom-fade {
  animation: zoomFade 1.4s ease-out forwards;
}

.animate-fade-up {
  animation: fadeUp 1s ease-out forwards;
}

.delay-100 {
  animation-delay: 0.1s;
}

.delay-200 {
  animation-delay: 0.2s;
}

.btn_slide_course {
  @apply transition-all duration-300 hover:scale-110;
}
