/********** Template CSS **********/
/* @import url('https://fonts.googleapis.com/css2?family=Siemreap&display=swap');

body {
    font-family: 'Siemreap', sans-serif;
} */

ul, li {
    margin: 0 !important;
    padding: 0 !important;
}

.py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.my-6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

.bg-primary {
    background-color: #48aeec !important;
}

.btn-primary {
    background-color: #2e73ba;
    border-color: #ffff;
}

.text-primary {
    color: #48aeec !important;
}

.btn-link {
    font-weight: 400;
    color: #ffff !important;
    text-decoration: none;
}

.btn-outline-primary {
    color: #48aeec;
    border-color: #48aeec;
}

.btn-outline-primary:hover {
    color: #000;
    background-color: #48aeec;
    border-color: #48aeec;
}

.btn-primary:hover {
    color: #000;
    background-color: #48aeec;
    border-color: #48aeec;
}
.menu_active {
    color: #48aeec !important;
}
.form-control:focus {
    color: #757575;
    background-color: #fff;
    border-color: #48aeec;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(72, 174, 236, 0.25);
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #48aeec;
    border-color: #48aeec;
}

.page-link {
    position: relative;
    display: block;
    color: #48aeec;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.page-link:focus {
    z-index: 3;
    color: #48aeec;
    background-color: #e9ecef;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(72, 174, 236, 0.25);
}

.page-link:hover {
    z-index: 2;
    color: #48aeec;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-outline-primary:hover {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}


/*** Navbar ***/
.navbar.sticky-top {
    top: -100px;
    transition: .5s;
}

.navbar .navbar-brand,
.navbar a.btn {
    height: 80px
}

.navbar .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: var(--dark);
    font-weight: 500;
    text-transform: uppercase;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(0, 0, 0, .75);
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
    width: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
    background-color: var(--primary);
    border: 10px solid var(--primary);
}



.slide_home {
    width: 100%;
    height: 550px;
}


.slide_home img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* @media (max-width: 768px) { */
/* #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    } */

/* #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        /* object-fit: cover; */
*/
/* } */

/* .page-header {
    background: linear-gradient(rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
} */

.breadcrumb-item+.breadcrumb-item::before {
    color: #999999;
}


/*** Facts ***/
@media (min-width: 991.98px) {
    .facts {
        position: relative;
        margin-top: -75px;
        z-index: 1;
    }
}

.bg_header_top {
    background: #2e73ba;
}

/*** Courses ***/
.courses {
    min-height: 100vh;
    background: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url(../img/course/course4.jpg) center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.courses-item .courses-overlay {
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .5);
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}

.courses-item:hover .courses-overlay {
    height: 100%;
    opacity: 1;
}


/*** Team ***/
.team-items {
    margin: -.75rem;
}

.team-item {
    padding: .75rem;
}

.team-item::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background: #FFFFFF;
    transition: .5s;
    z-index: -1;
}

.team-item:hover::after {
    height: 100%;
    background: var(--primary);
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.team-item .team-social {
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .75);
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}

.team-item:hover .team-social {
    height: 100%;
    opacity: 1;
}


/*** Testimonial ***/
.testimonial-carousel .owl-dots {
    height: 40px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 20px;
    height: 20px;
    background: transparent;
    border: 2px solid var(--primary);
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    width: 40px;
    height: 40px;
    background: var(--primary);
}

.testimonial-carousel .owl-item img {
    width: 150px;
    height: 150px;
}


/*** Footer ***/
.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: var(--light);
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.bg_footer {
    background: #2e73ba;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--light);
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--primary);
    letter-spacing: 1px;
    box-shadow: none;
}

/* .copyright {
    background: #092139;
} */

.copyright {
    background: #ffff;
    color: #2e73ba;
}

.copyright a {
    color: var(--primary);
}

.copyright a:hover {
    color: var(--light);
}

.collapse {
    visibility: visible;
}

.carousel-inner {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.carousel-inner-content {
    position: absolute;
    top: 80px;
    bottom: 0;
}

.dec-item-course {
    border: 1px solid #D7D7D7;
    border-radius: 0px 0px 8px 8px;
    padding: 17px;
    background: #fff;
    height: 200px;
}

.dec-item-course .des {
    font-size: 14px;
}

.img-course {
    width: 100%;
    height: 200px !important;
}

.img-course .img-fluid {
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0px 0px;
    object-fit: cover;
}

.price-course {
    position: absolute;
    right: 0;
    top: -4px;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
        justify-content: center;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        left: 50%;
        transform: translateX(-50%);
    }
}


.border-line {
    border: 1px solid #D7D7D7;
}

.detail_item {
    padding-top: 16px;
    font-size: 14.5px;
    font-weight: 500;
    text-align: right;
    display: block;
    text-decoration: none;
    color: #2e73ba !important;
    transition: all 0.3s ease-in-out;
}

.des-title {
    font-size: 16.88px;
    font-weight: 500;
    line-height: 24px;
    color: #2e73ba;
}

.logo_patner {
    width: 100%;
    height: 100%;
    position: relative;
}

/* not-found */
.comming .item {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 30px 15px;
    margin-bottom: 30px;
}

.comming h6 {
    color: #2e73ba;
    font-size: 15px;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 30px;
    letter-spacing: 3px;
}

.comming h3 {
    font-size: 48px;
    color: #2e73ba;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 0px;
}

.comming h2 {
    font-size: 40px;
    font-weight: 400;
    color: #2e73ba;
    position: relative;
    margin-bottom: 10px;
}

.menu_active {
    color: #2e73ba;
}

.comming h1 {
    font-size: 200px;
    font-weight: 400;
    margin-bottom: 0px;
    position: relative;
    color: transparent;
    -webkit-text-stroke: 1px #2e73ba;
    opacity: 0.8;
    line-height: 160px;
}

.comming p {
    color: #2e73ba;
    font-size: 15px;
}

.section-padding {
    padding: 50px 0;
}


.v-middle {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}

/* end not-found */